<!DOCTYPE html>

<html>
    <head>
        <title>{{data[0]}}</title>
    </head>
    <body>
        <h1>{{data[0]}}</h1>
        <h3>Avg. Rating is {{data[1]}}</h3> 
        <h2>Rate this movie</h2>
        <form action="/movie" method="POST">
            <input type="hidden" name="movie_name" value="{{data[0]}}">
            <select name="rating">
                <option disabled selected>Rating</option>
                <option value="1" name="rating">1</option>
                <option value="2" name="rating">2</option>
                <option value="3" name="rating">3</option>
                <option value="4" name="rating">4</option>
                <option value="5" name="rating">5</option>
            </select>
            <input type="submit" value="Submit">
        </form>
        <br><br>
        <h2>Reccomendations based on this movie</h2>
        {% for movie in reccomended_movies %}
            <form action="/movie" method="POST">
                <input type="submit" name="movie_name" value="{{movie}}">
            </form>
             <br/>
        {% endfor %}
    </body>
</html>